task: train

defaults:
  - validation: ../validation

epoch: 500

data:
  batch_size: 16
  image_size: ${image_size}
  cpu_num: ${cpu_num}
  shuffle: True
  pin_memory: True
  data_augment:
    Mosaic: 0.0
    # MixUp: 1
    HorizontalFlip: 0.1
    VerticalFlip: 0.1
    RandomCrop: 0.0
    RemoveOutliers: 1e-8

optimizer:
  type: SGD
  args:
    lr: 0.01
    weight_decay: 0.0005
    momentum: 0.937
    nesterov: true

loss:
  objective:
    BCELoss: 0.5
    BoxLoss: 7.5
    DFLoss: 1.5
  aux:
    0.25
  matcher:
    iou: CIoU
    topk: 10
    factor:
      iou: 6.0
      cls: 0.5

scheduler:
  type: LinearLR
  warmup:
    epochs: 3.0
  args:
    total_iters: ${task.epoch}
    start_factor: 1
    end_factor: 0.01

ema:
  enable: true
  decay: 0.9999

transfer:
  freeze: 0
  unfreeze_last: 0

# Early stopping configuration (defaults: disabled)
early_stop:
  enable: true                    # set true to enable EarlyStopping
  monitor: mar_100                     # metric name to monitor (ValidateModel logs `map`)
  mode: max                        # 'max' because higher mAP is better
  patience: 40                     # epochs with no improvement before stopping
  min_delta: 0.0                   # minimum change to qualify as improvement
  strict: true                    # don't error if metric missing
  verbose: true                   # EarlyStopping verbosity
  check_on_train_epoch_end: false  # check on train epoch end as well
  